.arrom {
  background-image: url("../oteli/img/keyboard_tab.jpg");
}

.special-22 {
  background-image: url("../oteli/img/22.jpg");
}

.magnifier{
  background-image: url("../oteli/img/search.jpg");
}

.service {
  background-image: url("../oteli/img/10.jpg");
}

.rent {
  background-image: url("../oteli/img/15.jpg");
}

.saunas {
  background-image: url("../oteli/img/12.jpg");
}

.parking {
  background-image: url("../oteli/img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.jpg");
}

.advantages-img1 {
  background-image: url("../oteli/img/bathtub.png");
}

.advantages-img1 {
  background-image: url("../oteli/img/hanger.png");
}

.advantages-img1 {
  background-image: url("../oteli/img/heating.png");
}

.advantages-img1 {
  background-image: url("../oteli/img/hotel-key.png");
}

.advantages-img1 {
  background-image: url("../oteli/img/parking.png");
}

.advantages-img1 {
  background-image: url("../oteli/img/reception.png");
}

.advantages-img1 {
  background-image: url("../oteli/img/security-box.png");
}

.advantages-img1 {
  background-image: url("../oteli/img/swimming-pool.png");
}
